@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}


html > body {
 font-family: 'InfinitySans-RegularA1', sans-serif;
}

.logo {
  font-size:2rem;
  display:inline-flex;
}

.logo > span:last-child {
  margin-left:0.5rem;
  font-weight:bold;
} 

.home-1:hover {
  color: white;
  background-color: black;
}

.board-1:hover {
  color: white;
  background-color: black;
}

.member-1:hover {
  color: white;
  background-color: black;
}

.article-1:hover {
  color: white;
  background-color: black;
}

.logout-1:hover {
  color: white;
  background-color: black;
}

.mainsection-1 {
  text-align: center;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body {
	padding-top:50px;
}
